<div>
  <label>
    Latitude:
    <input type="number" [(ngModel)]="latitude" placeholder="Enter latitude">
  </label>
  <label>
    Longitude:
    <input type="number" [(ngModel)]="longitude" placeholder="Enter longitude">
  </label>
  <button (click)="updateMarkerPosition()">Update Marker Position</button>
</div>

<h1>Integrate Google Maps in Angular - Tutsmake.com</h1>


<google-map height="450px"
            width="500px"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="onMapClick($event)">
  <map-marker *ngIf="markerPosition" [position]="markerPosition"></map-marker>

</google-map>

<div>Latitude: {{display?.lat}}</div>
<div>Longitude: {{display?.lng}}</div>
